body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.page-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.page-logo span {
  color: #4d5ae5;
}

.header-list,
.header-list-address {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-list-item a {
  color: #2e2f42;
}
.header-list-address-mail a,
.header-list-address-tel a {
  color: #434455;
}

h1 {
  color: #fff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.main-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.main-btn:hover {
  background-color: #404bbf;
}
.header-list-item a:active,
.header-list-address-mail a:active,
.header-list-address-tel a:active {
  color: #404bbf;
}
.main-section-desc h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.main-desc-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-sec-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.main-list h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.main-list p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.team-list h3,
p {
  text-align: center;
}
